* {
    margin: 0;
    padding: 0;
}

body {

}

header {
    background-color: #e7e7e7e7;
    box-shadow: 0px -8px 15px 8px rgba(0,0,0,0.44);  
    height: 14vh;
    width: 100vw;
}

.top-bar {
    padding: 15px;
}

main {
    justify-content: center;
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    height: 85vh;
}

.main-content {
}

footer {
    width: 100vw;
    height: 1vh;
}
/* embbed-chat CSS configuration */
:root {
    --primary-color: #00a089;
    --secondary-color: #d4c161;
    --tertiary-color: #C6E7F4;
    --fourth-color: #efefef;
    --font-color: #555555;
    --icon-color: rgb(62, 61, 61);
}

@keyframes slideOnOpenBox {
    from {
        transform: translateX(600px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideOnCloseBox {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(600px);
    }
}
.top-chat-bar {
    height: 53px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: end;
}

.box {
    position: fixed;
    height: 440px;
    bottom: 170px;
    right: 38px;
    align-self: center;
    max-width: 400px;
    width: 100%;
}


.openBox {
    animation: slideOnOpenBox 1s;
}

.closeBox {
    animation: slideOnCloseBox 1s;
}

#chat-icon {
    transform: scaleX(-1);
    width: 60%; 
    height: 60%; 
    filter: invert(1);
}

.rouded-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    border: none;
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.rouded-button:hover {
    background-color: #37b9a5;
}

.rouded-button:active {
    background-color: rgb(199, 199, 199);
}

.chat-button {
    position: fixed;
    bottom: 25px;
    right: 32px;
    width: 60px;
    height: 60px;
    background: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    color: white;
}

/* embbed-chat CSS configuration */