* {
    margin: 0;
    padding: 0;
}

body {
}

header {
    background-color: #e7e7e7e7;
    box-shadow: 0px -8px 15px 8px rgba(0,0,0,0.44);  
    height: 10vh;
}

main {
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

footer{
}

/* embbed-chat CSS configuration */
:root {
    --primary-color: #00a089;
    --embbed-container-border-radius: 8px;
}

@keyframes slideOnOpenBox {
    from {
        transform: translateX(600px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOnCloseBox {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(600px);
    }
}

.top-chat-bar {
    height: 53px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: var(--embbed-container-border-radius) 
                   var(--embbed-container-border-radius) 0 0;
}

.box {
    background-color: white;
    position: fixed;
    height: 470px;
    bottom: 120px;
    right: 38px;
    align-self: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 -1px 12px 0 rgb(0 0 0 / 40%);
    border-radius: var(--embbed-container-border-radius);
}

.openBox {
    animation: slideOnOpenBox 1s;
}

.closeBox {
    animation: slideOnCloseBox 1s;
}

#embbed-icons {
    transform: scaleX(-1);
    width: 60%; 
    height: 60%; 
    filter: invert(1);
}

.rouded-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    border: none;
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.rouded-button:hover {
    background-color: #37b9a5;
}

.rouded-button:active {
    background-color: rgb(199, 199, 199);
}

.chat-button {
    position: fixed;
    bottom: 25px;
    right: 32px;
    width: 60px;
    height: 60px;
    background: var(--primary-color);
    color: white;
}
/* embbed-chat CSS configuration */